.btn-func{
    padding: 4%;
    margin-right: 3%;
    border-radius: 10px;
    border: none;
    width: 25%;
    font-size: 20px;
    color: white;
    background-color: #a66f72;
    
  }
  .btn-logout{
    padding: 0.5%;
    margin-right: 3%;
    border-radius: 10px;
    border: none;
    width: 6%;
    font-size: 18px;
    color: white;
    background-color: #a66f72;
    
  }