* {
  font-family: Open Sans;
  margin: auto;
  padding: auto;
}


.packages {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 120%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../images/pexels-photo-114979.jpeg");
  background-size: cover;
  background-position: center;
}

.packages-create {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../images/pexels-photo-114979.jpeg");
  background-size: cover;
  background-position: center;
}

.packages-create .Create-post {
  width: 40%;
  height: 440px;
  margin: 10%;
  padding: 20px;
  text-align: center;
  border: 1px solid #c762a1;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-left: 8%;
}

.packages-create .title {
  font-style: inherit;
  color: #b30059;
  font-weight: bold;
}


.packages-create .Form-Group {
  text-align: left;
  display: block;
  
}

.packages-create .Form-Control {
  width: 80%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #c762a1;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  margin-left: 10%;
}

.packages-create .Form-Cont{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #a66f72;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}

.package-report{
  background-color: white;
  background: white;
}

/* App.js Styling Part */




.packages {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 120%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../images/pexels-photo-114979.jpeg");
  background-size: cover;
  background-position: center;
}

.packages-create {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../images/pexels-photo-114979.jpeg");
  background-size: cover;
  background-position: center;
}

.packages-create .Create-post {
  width: 40%;
  height: 440px;
  margin: 10%;
  padding: 20px;
  text-align: center;
  border: 1px solid #c762a1;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-left: 8%;
}

.packages-create .title {
  font-style: inherit;
  color: #b30059;
  font-weight: bold;
}


.packages-create .Form-Group {
  text-align: left;
  display: block;
  
}

.packages-create .Form-Control {
  width: 80%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #c762a1;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  margin-left: 10%;
}

.packages-create .Form-Cont{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #a66f72;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}

.package-report{
  background-color: white;
  background: white;
}

/* App.js Styling Part */

.packages .package-preview {
  width: 300px;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  border-width: 2px;
  color: #c762a1;
  display: inline-block;
  font-weight: bold;
  margin-left: 45px;
}

.packages .package-preview:hover {
  box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);
}



.packages .package-preview h2{
  color: black;
  font-weight: bold;
}

.packages .package-preview p{
  font-size: 17px;
  color: black;
}

.packages .update{
  color: white;
  color: #c762a1;
  background-color: black;
}



.actionupdate{
  
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;

    color: #c762a1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  

}

.packages button:hover{
  box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);
}

.packages .container button{
  margin-left: 85%;
}

.btnSort{
   background:#b30059;
   color: white;
   width: 10%;
}